<!DOCTYPE HTML>
<html lang="pt-br">
	<title>Bozzolan | Home ::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/modernizr.custom.js"></script>
</head>

<body>
	<div class="container">
		<div class="header">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
		</div>
		<div id="bl-main" class="bl-main">
			<!----- About Page ----------------->
			<section>
				<div class="bl-box">
					<h2>Biografia</h2>
				</div>
				<div class="bl-content">
					<div class="wrap">
						<div class="wrapper">
							<div class="about_data">
								<h2>Biografia</h2>
								<div class="about_img">
									<img src="images/about.jpg" alt="">
								</div>
								<p>Fábio Bozzolan é funcionário público e ex professor universitário, mas apaixonado por música e instrumentos musicais, em especial, as seis cordas.</br>
									Estudou violão clássico no Conservatório Musical Samuel Arcanjo e teve aulas de guitarra com Pollaco, Sandro Haick e Alexandre “Hard”; baixo e bateria de forma auto didática.</br>
									Atou em vários grupos de MPB e Pop Rock nos anos 80 e 90. Com o trio LORDS gravou 02 CD´s de forma independente.</br>
									Em 2017 lançou seu 1º trabalho solo “Multifacetado”, onde procura mostrar suas várias influências.</br>
									</p>
									<p>
									<i><strong>“Não existe música boa ou ruim, e sim a atitude, conhecimento e consciência de como fazê-la”</strong></i>
									<div style="float:right; color:white;"> -Bozzolan</div></p>

							</div>
							<div class="content_bottom_right">
								<h2> Reviews: Cd´s e Equipamentos</h2>
								<div class="posts">
									<div class="date">
										<figure><img src="images/priest.png" alt=""></figure>
									</div>
									<div class="post_desc">
										<p>Se você me perguntar o que é heavy metal, eu diria para você escutar este trabalho do Judas Priest, 
											um álbum que captura o ponto alto de uma das melhores bandas do gênero, 
											riffs bem variados, rob halford cantando como nunca e guitarras entrosadíssimas. 
											<br/>Lançado em 1982, soa atual como nunca. Nota 10!</p>
									</div>
									<div class="clear"></div>
								</div>
								<div class="posts">
									<div class="date">
										<figure><img src="images/pepeu.png" alt=""></figure>
									</div>
									<div class="post_desc">
										<p>A medida que fui estudando música, cada gênero ia me cativando a buscar outros e, 
											um belo dia, ouvi este trabalho do Pepeu: foi amor à primeira vista !
											Choro, samba, Pop, Blues e Rock numa mistura genial. Gravado ao vivo em Montreux, 
											é um disco que eu sempre eu quis fazer e que me influenciou muito. Nota 10!</p>
									</div>
									<div class="clear"></div>
								</div>
								<div class="posts">
									<div class="date">
										<figure><img src="images/paralamas.png" alt=""></figure>
									</div>
									<div class="post_desc">
										<p>“O Hebert está cantando mal !” disse um amigo meu ao ouvir este novo trabalho do Paralamas, ouvindo posteriormente disse a ele: 
										“prefiro ainda mil vezes o Paralamas, com Hebert  e a voz detonada, que muitas bandinhas/artistas da atualidade”. 
										</br>De fato não é uma obra prima, mas não decepciona, a partir da 4º música o CD começa a soar bem. Nota 7!</p>
									</div>
									<div class="clear"></div>
								</div>
								<div class="posts">
									<div class="date">
										<figure><img src="images/wheater.png" alt=""></figure>
									</div>
									<div class="post_desc">
										<p>Se hoje toco um pouco de bateria é por causa deste CD.</br>
											 Na época, eu não tinha a mínima noção da dimensão musical de um Jaco Pastorius ou Wayne Shorter, 
											eu estava atrás de um jazz rock e acabei me deparando com este trabalho de 1982 desta bandaça e o que mais me chamou a atenção foram os grooves do batera Peter Erskine (na época). 
										</br>Depois comecei a acompanhar o trabalho dos caras e, mesmo com as variações na formação, os grooves continuavam impressionantes. 
										</br>Não é o melhor trabalho do Weather, mas bateu forte em mim!  Nota 8!</p>
									</div>
									<div class="clear"></div>
								</div>
								<div class="posts">
									<div class="date">
										<figure><img src="images/mooer.png" alt=""></figure>
									</div>
									<div class="post_desc">
										<p>Sempre fui desconfiado destes pedalzinhos pelo fato deles não oferecerem opções de regulagem (volume, grave, agudo, mix do efeito, etc). 
										</br>Este pedal me surpreendeu ! O timbre é honesto,
										o efeito não sobrepõe o sinal natural da guitarra e também não joga o som para baixo, 
										se tem um inconveniente é que ele produz um leve “toc” no amp quando acionado (pelo menos no meu set up) 
										e o preço é bem mais amigável em relação aos demais.
										</br> Não conheço ou testei outros pedais da Mooer, mas este vale a pena. Nota 6!</p>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<span class="bl-icon bl-icon-close"><img src="images/close_black.png"></span>
			</section>
			<!----- End About Page ----------------->

			<!----- Work Page ----------------->
			<section id="bl-work-section">
				<div class="bl-box">
					<h2>Trabalhos</h2>
				</div>
				<div class="bl-content">
					<div class="wrap">
						<h2>Discografia</h2>
						<div class="works">
							<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters Lorem Ipsum is that it has a more-or-less
								normal distribution of letters, as opposed to using 'Content here, content here desktop publishing making it look
								like readable English.Lorem Ipsum is that it has a more-or-less Lorem Ipsum is that it has a more-or-less normal
								distribution of letters Lorem Ipsum is that it has a more-or-less normal distribution of letters.Lorem Ipsum is that
								it has a more-or-less normal distribution of letters Lorem Ipsum is that it has a more-or-less normal distribution
								of letters, as opposed to using 'Content here, content here desktop publishing making it look like readable English.Lorem
								Ipsum is that it has a more-or-less Lorem Ipsum is that it has a more-or-less normal distribution of letters Lorem
								Ipsum is that it has a more-or-less normal distribution of letters.</p>
							<ul id="bl-work-items">
								<li data-panel="panel-1"><a href="#"><img src="images/1.jpg" /></a></li>
								<li data-panel="panel-2"><a href="#"><img src="images/2.jpg" /></a></li>
								<li data-panel="panel-3"><a href="#"><img src="images/3.jpg" /></a></li>
								<li data-panel="panel-4"><a href="#"><img src="images/4.jpg" /></a></li>
								<li data-panel="panel-5"><a href="#"><img src="images/5.jpg" /></a></li>
								<li data-panel="panel-6"><a href="#"><img src="images/6.jpg" /></a></li>
								<li data-panel="panel-7"><a href="#"><img src="images/7.jpg" /></a></li>
								<li data-panel="panel-8"><a href="#"><img src="images/8.jpg" /></a></li>
							</ul>
						</div>
					</div>
				</div>
				<span class="bl-icon bl-icon-close"><img src="images/close_black.png"></span>
			</section>
			<!----- End Work Page ----------------->

			<!----- Blog Page ----------------->
			<section>
				<div class="bl-box">
					<h2>Notícias</h2>
				</div>
				<div class="bl-content">
					<div class="wrap">
						<h2>Notícias</h2>
							<% if(noticias.length > 0){ %>
					<% for(var i = 0; i < noticias.length; i++){ %>
						<div class="blog-leftgrids">
							<div class="image group">
								<div class="grid images_3_of_1">
									<a href="#"><img src="images/blog-img.jpg" alt=""></a>
								</div>
								<div class="grid blog-desc">
									<h3><a href="#"><%= noticias[i].Titulo %> </a></h3>
									<p><%= noticias[i].Resumo %></p>
									<a href="#" class="button button-icon button-icon-demo">Noticia Completa</a>
								</div>
							</div>
				
							<div class="artical-links">
								<ul>
									<li><a href="#"><img src="images/blog-icon1.png" title="date"><span><%= noticias[i].Data_Noticia %></span></a></li>
									<li><a href="#"><img src="images/blog-icon2.png" title="Admin"><span><%= noticias[i].Autor %></span></a></li>
									<li><a href="#"><img src="images/blog-icon3.png" title="Comments"><span>2 comentários</span></a></li>
									<li><a href="#"><img src="images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
									<li><a href="#"><img src="images/blog-icon5.png" title="permalink"><span>permalink</span></a></li>
								</ul>
							</div>
											<% } %>
				<% } %>	
						</div>
					
						</div>
						<div class="content-pagenation">
							<li><a href="#">Frist</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><span>....</span></li>
							<li><a href="#">Last</a></li>
							<div class="clear"> </div>
						</div>

					</div>
				</div>
				<span class="bl-icon bl-icon-close"><img src="images/close_black.png"></span>
			</section>
			<!----- End Blog Page ----------------->

			<!----- Contact Page ----------------->
			<section>
				<div class="bl-box">
					<h2>Contato</h2>
				</div>
				<div class="bl-content">
					<div class="wrap">
						<div class="section group">
							<div class="col span_2_of_3">
								<h2>Entrar em contato</h2>
								<div class="contact-form">
									<form method="post" action="contact-post.html">
										<div>
											<span><label>Name</label></span>
											<span><input name="userName" type="text" class="textbox" ></span>
										</div>
										<div>
											<span><label>E-mail</label></span>
											<span><input name="userEmail" type="text" class="textbox"></span>
										</div>
										<div>
											<span><label>Company Name</label></span>
											<span><input name="userPhone" type="text" class="textbox"></span>
										</div>
										<div>
											<span><label>Subject</label></span>
											<span><textarea name="userMsg"> </textarea></span>
										</div>
										<div>
											<span><input type="submit" value="Submit"  class="myButton"></span>
										</div>
									</form>
								</div>
							</div>
							<div class="col span_1_of_3">
								<div class="company_address">
									<h3>My Location</h3>
									<p>500 Lorem Ipsum Dolor Sit,</p>
									<p>22-56-2-9 Sit Amet, Lorem,</p>
									<p>USA</p>
									<p>Phone:(00) 222 666 444</p>
									<p>Fax: (000) 000 00 00 0</p>
									<p>Email: <span>info@mycompany.com</span></p>
									<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
								</div>
								<div class="contact_info">
									<h3>Find Us Here</h3>
									<div class="map">
										<iframe width="100%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#FFF;text-align:left;font-size:12px">View Larger Map</a></small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<span class="bl-icon bl-icon-close"><img src="images/close_black.png"></span>
			</section>
			<!----- End Contact Page ----------------->

			<!-- Panel items for the works -->
			<div class="bl-panel-items" id="bl-panel-work-items">
				<div data-panel="panel-1">
					<div>
						<img src="images/1.jpg" />
						<h3>Fixie bespoke</h3>
						<p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO.Iphone artisan direct trade
							ethical Austin. Fixie bespoke banh mi ugh, deep v vinyl hashtag. Tumblr gentrify keffiyeh pop-up iphone twee biodiesel.
							Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small
							batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable
							cardigan keytar fap bushwick bespoke.</p>
					</div>
				</div>
				<div data-panel="panel-2">
					<div>
						<img src="images/2.jpg" />
						<h3>Chillwave mustache</h3>
						<p>Squid vinyl scenester literally pug, hashtag tofu try-hard typewriter polaroid craft beer mlkshk cardigan photo booth
							PBR. Chillwave 90's gentrify american apparel carles disrupt. Pinterest semiotics single-origin coffee craft beer
							thundercats irony, tumblr bushwick intelligentsia pickled. Narwhal mustache godard master cleanse street art, occupy
							ugh selfies put a bird on it cray salvia four loko gluten-free shoreditch.</p>
					</div>
				</div>
				<div data-panel="panel-3">
					<div>
						<img src="images/3.jpg" />
						<h3>Austin hella</h3>
						<p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO.Ethical cray wayfarers leggings
							vice, seitan banksy small batch ethnic master cleanse. Pug chillwave etsy, scenester meh occupy blue bottle tousled
							blog tonx pinterest selvage mixtape swag cosby sweater. Synth tousled direct trade, hella Austin craft beer ugh chambray.</p>
					</div>
				</div>
				<div data-panel="panel-4">
					<div>
						<img src="images/4.jpg" />
						<h3>Brooklyn dreamcatcher</h3>
						<p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes anderson lomo 90's food
							truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr before they sold out. Brooklyn echo park cred,
							portland pug selvage flannel seitan tousled mcsweeney's.</p>
					</div>
				</div>
				<div data-panel="panel-5">
					<div>
						<img src="images/5.jpg" />
						<h3>Brooklyn dreamcatcher</h3>
						<p>Squid vinyl scenester literally pug, hashtag tofu try-hard typewriter polaroid craft beer mlkshk cardigan photo booth
							PBR. Chillwave 90's gentrify american apparel carles disrupt. Pinterest semiotics single-origin coffee craft beer
							thundercats irony, tumblr bushwick intelligentsia pickled. Narwhal mustache godard master cleanse street art, occupy
							ugh selfies put a bird on it cray salvia four loko gluten-free shoreditch.Fashion axe 90's pug fap. Blog wayfarers
							brooklyn dreamcatcher, bicycle rights retro YOLO. Wes anderson lomo 90's food truck 3 wolf moon, twee jean shorts.
							Iphone small batch twee wolf yr before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan
							tousled mcsweeney's.</p>
					</div>
				</div>
				<div data-panel="panel-6">
					<div>
						<img src="images/6.jpg" />
						<h3>Brooklyn dreamcatcher</h3>
						<p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes anderson lomo 90's food
							truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr before they sold out. Brooklyn echo park cred,
							portland pug selvage flannel seitan tousled mcsweeney's.</p>
					</div>
				</div>
				<div data-panel="panel-7">
					<div>
						<img src="images/7.jpg" />
						<h3>Brooklyn dreamcatcher</h3>
						<p>Squid vinyl scenester literally pug, hashtag tofu try-hard typewriter polaroid craft beer mlkshk cardigan photo booth
							PBR. Chillwave 90's gentrify american apparel carles disrupt. Pinterest semiotics single-origin coffee craft beer
							thundercats irony, tumblr bushwick intelligentsia pickled. Narwhal mustache godard master cleanse street art, occupy
							ugh selfies put a bird on it cray salvia four loko gluten-free shoreditch.Fashion axe 90's pug fap. Blog wayfarers
							brooklyn dreamcatcher, bicycle rights retro YOLO. Wes anderson lomo 90's food truck 3 wolf moon, twee jean shorts.
							Iphone small batch twee wolf yr before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan
							tousled mcsweeney's.</p>
					</div>
				</div>
				<div data-panel="panel-8">
					<div>
						<img src="images/8.jpg" />
						<h3>Brooklyn dreamcatcher</h3>
						<p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes anderson lomo 90's food
							truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr before they sold out. Brooklyn echo park cred,
							portland pug selvage flannel seitan tousled mcsweeney's.</p>
					</div>
				</div>
				<nav>
					<span class="bl-next-work">&gt; Next Project</span>
					<span class="bl-icon bl-icon-close"><img src="images/close-button.png"></span>
				</nav>
			</div>
		</div>
		<!-- <div class="copy_right">
			<p>All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
		</div> -->
	</div>
	<!-- /container -->
	<script src="js/boxlayout.js"></script>
	<script>
		$(function () {
			Boxlayout.init();
		});
	</script>
</body>

</html>