<html>
<body>
<h1>Sobre o desenvolvimento do site Fábio Lords</h1>
<h2>Ferramentas utilizadas</h2>
Express - Um framework NodeJS para Aplicações Web <i>(npm install express -save)</i>
<br/>EJS - Linguagem de modelagem para criação de páginas HTML utilizando Javascript <i>(npm install ejs --save)</i>
<br/> Nodemon - Um utilitário que reinicia automaticamente o servidor NODEJS quando houver qualquer alteração em nossos scripts <i>(npm install -g -nodemon)</i>
<br/> NPM - Um gerenciador de pacotes Javascript
<br> MYSQL - Banco de dados muito utilizado pela web <i>(npm install mysql --save)</i> 
https://dev.mysql.com/downloads/<br/>
https://dev.mysql.com/downloads/installer/
<br/> Para rodar a aplicação do Site - via cmder executar (node app.js)
<br/> Para para a aplicação do Site - via cmder executar (ctrl + C)
</body>
</html>