<html>
    <body>
    <h1>Eventos</h1>
    <h2>Local</h2>
    <br/>EJS - Linguagem de modelagem para criação de páginas HTML utilizando Javascript <i>(npm install ejs --save)</i>
    <br/> Nodemon - Um utilitário que reinicia automaticamente o servidor NODEJS quando houver qualquer alteração em nossos scripts <i>(npm install -g -nodemon)</i>
    <br/> NPM - Um gerenciador de pacotes Javascript
    <br/> Para rodar a aplicação do Site - via cmder executar (node app.js)
    <br/> Para para a aplicação do Site - via cmder executar (ctrl + C)
    </body>
    </html>